# Airflow
airflow/airflow.db
airflow/logs/
airflow/*.pid
airflow/.env
airflow/unittests.cfg
airflow/webserver_config.py
airflow/__pycache__/

**/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.env
.venv/
venv/
pip-wheel-metadata/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data
data/*

# Docker
*.log
docker-compose.override.yml

# VSCode / PyCharm / JetBrains
.vscode/
.idea/

# OS/Filesystem
.DS_Store
Thumbs.db

# Git
*.swp
